.logo{
    width: 50px;
}

.imgAnnonce{
    width: 500px;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform : scale(1.5);
    rotate : 10deg;
}

.price{
    font-style: italic;
    font-size: 35px;
    color: blueviolet;
}